@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500;600&display=swap');

.custom-font {
  font-family: 'Cormorant SC', serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
}

.NavbarItems {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  
}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  transform: translate(0%, 6%)
}

.fa-custom-style {
  margin-left: 0.6rem;
  font-size: 1.7rem;
}

.nav-menu-old {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;  
  align-items: baseline;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 1rem;  
}

.nav-link {
  color: white;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0.5rem 1rem;
  
}

.nav-link:hover{
  color: #ffffffd0;
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-link-active{
  /* background-color: #99a0f9; */
  border-style: solid;
  border-radius: 4px;
  border-color: #ffffff;
  border-width: 2px;
  transition: all 0.2s linear;
}

.menu-icon {
  display: none;
}

.backup-register-button {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
  }

  .nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(12%, 31%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-80%, 45%);
    font-size: 1.8rem;
  }

  .register-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%, 45%);
  }

  @media screen and (max-width: 535px) { 
    .navbar-logo {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: scale(0.80) translate(-5%, 40%);
    }

    .fa-briefcase-medical {
      display: none;
    }

    .register-icon {
      display: none;
    }

    .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-45%, 46%);
    }

    .nav-menu {
      height: 310px;
    }

    .backup-register-button {
      display: block;
    }
  }

}