@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap');

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* The hack for parallax effect, neat little trick */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/public/images/at-home-covid-test.webp');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/public/images/placeholder2.jpg");  
  min-height: 400px;
}
/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/public/images/placeholder3.jpg");
  min-height: 400px;
}

.title {
  display: block;
  width: 30vw;
  background-color: rgba(56, 56, 56, 256);
  
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3vw;
  letter-spacing: 3px;
}

.center {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
/* Turn off parallax scrolling for tablets and phones */
/* 
@media only screen and (max-device-width: 1000px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
  
    background-attachment: scroll;
    min-height: 400px;
  }
} */

@media only screen and (max-device-width: 1000px) {
  .title {
    width: 300px;
    font-size: 30px;
  }
}
