.NavbarItems {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

}

.navbar-logo {
  color: #ffffff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-custom-style {
  margin-left: 0.6rem;
  font-size: 1.6rem;
}

.nav-menu-old {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 2rem;  
  align-items: baseline;
}

.nav-menu {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 50vw;
  justify-content: end;
  margin-right: 1rem;  
}

.nav-link {
  color: white;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0.5rem 1rem;
}

.nav-link:hover{
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-link-active{
  /* background-color: #99a0f9; */
  border-style: solid;
  border-radius: 4px;
  border-color: #ffffff;
  border-width: 2px;
  transition: all 0.2s linear;
}

.register-padding {
  margin-right: 2rem;
}